@import url('https://fonts.googleapis.com/css?family=Rubik');
* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.selected {
    background: #2f75ec;
}
img {
    height: 80px;
}
.AppContainer {
    display: flex;
}
.ProductsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.App {
    min-height: 100vh;
    position: relative;
}
