.Header-Container__Cart {
    position: relative;
    display: flex;
    align-items: center;
} 
.Cart__Icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 2px solid transparent;
    padding: 5px;
}
.Cart__Icon_Bordered {
    border: 2px solid #2f75ec;
    border-radius: 5px;
}
.Cart__Icon:hover {
    border: 2px solid #2f75ec;
    border-radius: 5px;
}
.Cart-Text {
    color: #fff;
    margin-right: 4px;
    text-transform: uppercase;
    position: relative;
    font-size: 14px;
}
.Img-Cart {
    height: 20px;width: 20px;
    margin-right: 6px;
}
.Cart-Num {
    height: 20px;
    width: 20px;
    font-size: 12px;
    background: #2f75ec;
    color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Cart__Container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 12vh;
    right: 0;
    background: #202124;
    color: #acacac;
    width: 900px;
    padding: 10px;
    z-index: 100;
}
.Cart-Items {
    display: flex;
    flex-wrap: wrap;
}
.CleanTheCart {
    background: coral;
    border: 0;
    padding: 2px;
    border-radius: 5px; 
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .Cart-Text {
        display: none;
    }
    .Header-Container__Cart {
        order: 2;
    }
    .Cart__Container {
        top: 8vh;
        right: -10vw;
        width: 80vw;
    }
}