.HomePage-Container {
    height: 100vh;
    width: 100%;
    background: url(https://pp.userapi.com/c844520/v844520899/1b84c0/rhVDMSjt-1Y.jpg) no-repeat center top / cover;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.HomePage__Title {
    font-size: 60px;
    color: #2f75fd;

}
.HomePage__Subtitle {
    font-size: 30px;
    color: gray;

}
.HomePage__GetStarted {
    border:0;
    background: #2f75ec;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.HomePage__GetStarted:hover {
    background: lightcoral;
    transition: 0.5s;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .HomePage__Title {
        font-size: 40px;
        color: #2f75ec;
    
    }
    .HomePage__Subtitle {
        font-size: 20px;
        color: gray;
    
    }
}